.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body, html {
    height: 100%;
    width: 100%;
}

.scaled-button {
    transform: scale(5);
}